/* Styles for the navbar */
.navbar-container{
    width: 40vw;
    position: fixed;
    z-index: 1000;
}

.nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2vh;
    padding: 0 1vw;
    font-size: 1.5vw;
}

.logo{
    width: 4vw;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 0.75vw;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25vw;
}

.nav li.active{
    background-color: #555;
}

.nav li:hover{
    background-color: #777;
}

/* Styles for ProjectSection */

.project-content {
    flex: 1;
    flex-direction: column;
}

.project-content.right{
    margin-left: 2vw;
}

.project-content.left{
    margin-right: 2vw;
}

.project-title {
    font-size: 3vw;
    font-weight: bold;
}

.project-image{
    width: 30vw; /* to be changed when proper images are added */
}

.project-link {
    font-size: 1.5vw;
    color: blue;
    text-decoration: none;
    margin-top: 1.5vh;
}

.project-link:hover {
    text-decoration: underline;
}

/* Styles for Contact Form*/
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
}

form h2{}

.input-box{
    margin-top: 1vh;
}

.field{
    width: 100%
}

.field.message{
    height: 10vh;
    resize: none;
}

form button{
    margin-top: 1vh;
    padding: 0.5vw;
    font-size: 1.5vw;
}

.submit-btn{}

.reset-btn{}


/* Styles for Footer */
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    width: 100%;
}