
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

/* Styles for All */

.container {
    position: relative;
    text-align: center;
    margin: 0 10vw; 

    padding: 15vh 0 10vh 0;
}

.header {
    font-family: Arial;
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 2vh;

    display: inline-block;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5vw rgb(0, 0, 0);
    border-style: ridge groove groove ridge;
    border-radius: 10px;
    
}

.paragraph {
    font-family: Arial;
    font-size: 1.5vw; 
    text-align: justify;

    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5vw rgb(0, 0, 0);
    border-style: ridge groove groove ridge;
    border-radius: 10px;
}

.section {
    margin: 8vh 0; 
    display: flex;
    align-items: center;
}


/* Style for the Landing Page*/

.backImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Styles for About Me */
.section.abouttext {
    flex: 1;
    flex-direction: column;
    margin-left: 2vw; 
}

.section.aboutimage {
    flex-direction: column;
    gap: 2vh;
}

.about-image-stump {
    width: 30vw;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 0.5vw rgb(255, 196, 0);
    border-style: ridge groove groove ridge;
}

.about-image-beatles {
    width: 100%; 
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 0.5vw rgb(255, 196, 0);
    border-style: ridge groove groove ridge;
}

/* Styles for Contact Me */
.section.links {
    justify-content: center;
    gap: 0 12vw;
}

.contact-link {
    font-size: 3vw;
    color: black;
    text-decoration: underline;
    margin-top: 1.5vh;

    padding: 1vw;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5vw rgb(0, 0, 0);
    border-style: ridge groove groove ridge;
    border-radius: 10px;
}

.contact-link:hover {
    color: rgb(112, 112, 112);
}