* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style for the Landing Page*/
.backImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.welcome{
    color: white;
    position: absolute;
    font-size: 3vw;
    font-family: Arial;
    top: 50%;
    transform: translateY(-50%);
    left: 3vw;
}

/* Styles for About Me */

.about-container {
    position: relative;
    top: 10vh; 
    text-align: center;
    margin: 0 10vw; 
    padding-bottom: 10vh;
}

.about-section {
    margin: 8vh 0; 
    display: flex;
    align-items: center;
}

.about-section.text {
    flex: 1;
    flex-direction: column;
    margin-left: 2vw; 
}

.about-section.image {
    flex-direction: column;
    gap: 2vh
}

.about-header {
    font-size: 5vw;
    font-weight: bold;
    
}

.about-paragraph {
    font-size: 1.5vw; 
    text-align: justify;
}

.about-image-stump {
    width: 30vw; 
}

.about-image-beatles {
    width: 100%; 
}